
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #f0fcee;
}

.imagemMapa {
    width: 100%;
    height: auto;
    max-height: 70vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}

#map {
    flex: 1;
    position: relative;
    background-image: url('./imagens/mapa-alto-feliz.png');
    background-size: cover;
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 130vh;
    max-height: 70vh;
    margin: 10px;
    border-radius: 20px;
}

#info {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    margin: 20px;
    margin-right: 100px;
    float: right;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#info h2 {
    font-size: 24px;
    margin-top: 0;
}

#info p {
    font-size: 18px;
}

#imagemPonto {
    max-width: 100%;
    height: 50vh;
    margin-top: 10px;
}

.ponto-turistico {
    flex-basis: calc(20% - 20px);
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ponto-turistico:hover {
    background-color: #7c7c7c;
    transform: scale(1.1);
}

.ponto-turistico::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #3498db transparent;
}
